[absa-checking]
account=Assets:Bank:Absa:Checking
currency=ZAR
skip_lines=1
date=1
csv_date_format=%Y%m%d
ledger_date_format=%Y/%m/%d
desc=2
credit=3
debit=0
mapping_file=import/absa.mapping
delimiter=,
template_file=import/absa-checking.template

[absa-saving]
account=Assets:Bank:Absa:Saving
currency=ZAR
skip_lines=1
date=1
csv_date_format=%Y%m%d
ledger_date_format=%Y/%m/%d
desc=2
credit=3
debit=0
mapping_file=import/absa.mapping
delimiter=,
template_file=import/absa-saving.template

[absa-creditcard]
account=Assets:Bank:Absa:Credit Card
currency=ZAR
skip_lines=1
date=1
csv_date_format=%Y%m%d
ledger_date_format=%Y/%m/%d
desc=2
credit=3
debit=0
mapping_file=import/absa.mapping
delimiter=,
template_file=import/absa-checking.template

[dkb-giro]
account=Assets:Bank:DKB:Giro
currency=EUR
skip_lines=1
date=1
csv_date_format=%d.%m.%Y
ledger_date_format=%Y/%m/%d
desc=4,5
credit=8
debit=0
mapping_file=import/dkb-giro.mapping
delimiter=;
csv_decimal_comma=,
template_file=import/dkb-giro.template

[dkb-giro_addons]
purpose=5

[dkb-creditcard]
account=Assets:Bank:DKB:Credit Card
currency=EUR
skip_lines=1
date=3
csv_date_format=%d.%m.%Y
ledger_date_format=%Y/%m/%d
desc=4
credit=5
debit=0
mapping_file=import/dkb-creditcard.mapping
delimiter=;
csv_decimal_comma=,
template_file=import/dkb-creditcard.template

[dkb-creditcard_addons]
original_amount=6
